<h1>Listing clothing_items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clothing_items.each do |clothing_item| %>
  <tr>
    <td><%= clothing_item.name %></td>
    <td><%= clothing_item.description %></td>
    <td><%= link_to 'Show', clothing_item %></td>
    <td><%= link_to 'Edit', edit_clothing_item_path(clothing_item) %></td>
    <td><%= link_to 'Destroy', clothing_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Clothing item', new_clothing_item_path %>
